<div ng-controller="SidebarController as vm" ng-show="vm.show">
  <aside-menu id="sag2" side="right" width="240px" is-backdrop="false" push-content="false">
    <ul class="list-group">
      <li class="list-group-item">aaa</li>
      <li class="list-group-item">asa</li>
      <li class="list-group-item">sds</li>
      <li class="list-group-item">Porta ac consectetur ac</li>
      <li class="list-group-item">Vestibulum at eros</li>
    </ul>
  </aside-menu>
  <aside-menu-content>
    <fieldset>
      <div class="center-block">
        <button type="button" aside-menu-toggle="sag2" class="btn btn-default center-block">Right Menu</button>
      </div>
    </fieldset>

  </aside-menu-content>
</div>
