<section ng-controller="GroupStudentsController as vm">
    <div class="panel panel-default user_panel">
        <div class="panel-heading" style="height: 40px;">
            <div class="col-xs-9"><h3 class="panel-title">Thành viên</h3></div>
            <div class="col-xs-3">
                <button style="border: 0; background: none" ng-if="vm.groupInfo.createdBy._id == vm.auth.user._id" ng-click="vm.addStudents()" class="pull-right"><span class="fa fa-plus"></span></button>
            </div>
        </div>
        <div class="panel-body">
            <div class="table-container">
                <table class="table-users table" border="0">
                    <tbody>
                    <tr>
                        <td width="10">
                            <img class="pull-left img-circle nav-user-photo" width="50" ng-src="{{vm.groupInfo.createdBy.profileImageURL?vm.groupInfo.createdBy.profileImageURL:'/modules/users/client/img/profile/default.png'}}" />  
                        </td>
                        <td>
                            {{vm.groupInfo.createdBy.displayName}}
                        </td>
                        <td>
                            {{vm.groupInfo.createdBy.email}}
                        </td>
                        <td></td>
                        <td>
                            <span class="label label-danger">Chủ nhiệm</span>
                        </td>
                    </tr>
                    <tr ng-repeat="data in vm.students">
                        <td width="10" align="center">
                            <img class="pull-left img-circle nav-user-photo" width="50" ng-src="{{data.student.profileImageURL?data.student.profileImageURL:'/modules/users/client/img/profile/default.png'}}" />  
                        </td>
                        <td>
                            {{data.student.displayName}}
                        </td>
                        <td>
                            {{data.student.email}}
                        </td>
                        <td align="center">
                            Điểm:  {{data.point?data.point: 'Chưa có'}}
                        </td>
                        <td ng-if="vm.groupInfo.createdBy._id == vm.auth.user._id" >
                            <button class="btn btn-danger" ng-click="vm.removeStudent(data.student._id)"><i class="fa fa-trash"></i></button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>


<script type="text/ng-template" id="add-students-modal.html">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="vm.close()"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Thêm học sinh</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="form-group col-md-12">
                <ui-select multiple required ng-model="vm.add" tagging-label="false" theme="bootstrap" tagging-tokens=",|/" comma-on-blur>
                    <ui-select-match placeholder="Chọn hoặc tìm kiếm học viên">{{$item.displayName}} &lt;{{$item.email}}&gt;</ui-select-match>
                    <ui-select-choices repeat="student in vm.students | filter: $select.search">
                        <div>
                            <span ng-bind-html="student.displayName | highlight: $select.search"></span>
                            &lt;<span ng-bind-html="student.email | highlight: $select.search"></span>&gt;
                        </div>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
    </div>
    <div class="modal-footer text-right">
        <button class="btn btn-success" ng-disabled="!vm.add.length" ng-click="vm.save()">Thêm học viên</button>
        <button class="btn btn-default" ng-click="vm.close()">Đóng</button>
    </div>
</script>