<div class="form-group">
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label for="">Nội dung</label>
                <input  class="form-control" type="text" ng-model="vm.question.question" placeholder="Câu hỏi" required>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="">Loại câu hỏi</label>
                <select ng-model="vm.question.type" class="form-control" ng-change="vm.resetType()">
                    <option disabled selected value="">Chọn loại câu hỏi</option>
                    <option value="multi_choice">Chọn nhiều đáp án</option>
                    <option value="text">Viết</option>
                    <option value="pick_one">Chọn 1</option>
                    <option value="true/false">Đúng/Sai</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div ng-if="vm.question.question && vm.question.type" class="col-md-12">
            <div class="answer" ng-if="vm.question.type == 'multi_choice' || vm.question.type == 'pick_one' ">
                <div class="col-md-2">
                    <label><h4>Câu trả lời</h4></label>
                </div>
                <div class="col-md-10">
                    <div class="form-group">
                        <div class="row" ng-repeat="(index, answer) in vm.question.answers track by index">
                            <div class="col-md-12 input-group">
                                <input type="text" ng-model="answer" placeholder="Thêm câu trả lời" class="form-control" ng-change="vm.changeValue(index, answer)"/>
                                <span class="input-btn input-group-addon group-btn glyphicon glyphicon-minus-sign" ng-click="vm.removeAnswer(index)"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 input-group">
                                <input type="text" ng-model="vm.answer" ng-enter="vm.addAnswer()" placeholder="Thêm câu trả lời" class="form-control"/>
                                <span class="input-btn input-group-addon group-btn glyphicon glyphicon-plus-sign" ng-click="vm.addAnswer()"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-12 correct-answer" ng-if="vm.question.type == 'pick_one'">
            <label for="">Câu trả lời đúng</label>
            <select class="form-control" ng-options="value for value in vm.question.answers" ng-model="vm.question.correctAnswer[0]">
            </select>
        </div>
        <div class="form-group col-md-12 correct-answer" ng-if="vm.question.type == 'true/false'">
            <label for="">Câu trả lời đúng</label>
            <select class="form-control" ng-model="vm.question.correctAnswer">
                <option value="true">Đúng</option>
                <option value="false">Sai</option>
            </select>
        </div>
        <div class="form-group correct-answer multi col-md-12" ng-if="vm.question.type == 'multi_choice'">
            <label for="">Câu trả lời đúng</label>
            <ui-select multiple ng-model="vm.question.correctAnswer" tagging-label="false" theme="bootstrap" tagging-tokens=",|/" comma-on-blur>
                <ui-select-match placeholder="Chọn câu trả lời">{{$item}}</ui-select-match>
                <ui-select-choices repeat="value in vm.question.answers | filter: $select.search">
                    <div><span ng-bind="value | highlight: $select.search"></span></div>
                </ui-select-choices>
            </ui-select>
        </div>
    </div>
</div>