<section class="question">
    <h3 class="ques-content">{{vm.question.question}}</h3>
    <div class="quiz-answer row">
        <label for="" style="padding-left: 20px">Câu trả lời của bạn</label>
        <div class="form-group col-md-12" ng-if="vm.question.type == 'pick_one'">
            <select class="form-control" ng-options="value for value in vm.question.answers" ng-model="vm.quizModel" ng-change="vm.onChange()">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group col-md-12" ng-if="vm.question.type == 'true/false'">
            <input type="radio" ng-model="vm.quizModel" value="true" ng-change="vm.onChange()"> Đúng
            <br><input type="radio" ng-model="vm.quizModel" value="false" ng-change="vm.onChange()"> Sai

        </div>
        <div class="form-group col-md-12" ng-if="vm.question.type == 'text'">
            <text-angular ng-change="vm.onChange()" ta-toolbar="[['bold', 'italics', 'underline', 'strikeThrough', 'ul', 'ol', 'quote', 'insertImage','insertLink', 'charcount']]" ng-model="vm.quizModel">
            </text-angular>
        </div>
        <div class="form-group col-md-12" ng-if="vm.question.type == 'multi_choice'">
            <div ng-repeat="(index,value) in vm.question.answers">
                <input ng-model="vm.answer[index]" ng-change="vm.onChange()" type="checkbox" ng-true-value="'{{value}}'"> {{value}}<br>
            </div>
        </div>
    </div>
</section>
