
#new_status {
    background-color: #FFF;
    box-shadow: 1px 0 10px #AAA;
    font-family: 'Helvetica Neaue', 'Helvetica', sans-serif;
    margin-top: 0;
    padding-top: 5px;
}

#post_header {
    border-bottom: solid #E8E8E8 1px;
    margin: 0 2%;
    padding: 0.65rem 0;
    width: 95.75%;
}
#post_header li {
    display: inline-block;
}
#post_header a {
    font-size: 1.2rem;
    padding: 1rem 0;
    text-decoration: none;
}
#post_header li+li {
    border-left: solid #E8E8E8 1px;
}
#post_header li:first-child a {
    padding: 0 1rem 0 0;
}
#post_header li:nth-child(2) a {
    padding: 0 1rem;
}
#post_header li:last-child a {
    padding: 0 0 0 1rem;
}
#post_header .glyphicon {
    margin-right: 0.5rem;
}

#post_content {
    margin: 0 2%;
    padding: 0;
    width: 95.75%;
}
#post_content img {
    border: solid #DDD 1px;
    margin: 1.25rem 0;
    padding: 0;
}
#post_content .textarea_wrap {
    cursor: text;
}
#post_content textarea {
    border: 0;
    margin: 0rem 0 0.5rem 0;
    outline: 0;
    padding: 2.5rem 0 0 1.25rem;
    resize: none;
}

#post_footer {
    border-top: solid #E8E8E8 1px;
    line-height: 3rem;
    padding: 0 2% 0 3%;
}
#post_footer .navbar-nav {
    padding: 0;
}
#post_footer .navbar-nav li {
    display: inline-block;
}
#post_footer .navbar-nav a {
    display: block;
    padding: 2rem 1.25rem 2.2rem 1.25rem;
}
#post_footer .navbar-nav .glyphicon {
    line-height: 0;
}
#post_footer :not(.btn) .glyphicon {
    color: #999;
}
#post_footer div {
    padding: 0;
    text-align: right;
}
#post_footer .btn {
    border-radius: 2px;
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 2.2rem;
    margin-top: 0.75rem;
    vertical-align: middle;
    margin-bottom: 1rem;
}
#post_footer .caret {
    color: #666;
    margin-left: 0.5rem;
}
.ta-editor.ta-html, .ta-scroll-window.form-control{
    min-height: 100px;
    max-height: 200px;
}
.ta-scroll-window > .ta-bind {
     height: auto;
     /* min-height: 300px; */
     padding: 6px 12px;
    min-height: unset;
 }


/*-- Content Style --*/
.post-footer-option li{
    float:left;
    margin-right:20px;
    padding-bottom:10px;
}

.post-footer-option li a{
    font-weight:500;
    font-size:1.3rem;
}

.photo-profile{
    border:1px solid #DDD;
}

.anchor-username h4{
    font-weight:bold;
}

.anchor-time{
    color:#ADB2BB;
    font-size:1.2rem;
}

.post-footer-comment-wrapper{
    background-color:#F6F7F8;
}
i {  vertical-align: middle; }
.table-users tbody tr:hover {
    cursor: pointer;
    background-color: #eee;
}
.nav-user-photo {
    vertical-align: middle;
}
.user_name{
    font-size:14px;
    font-weight: bold;
}
.comments-list .media{
    border-bottom: 1px dotted #ccc;
}
.time-ago {
    font-size: 11px;
}
.comment-content{
    padding: 0 20px;
    box-sizing: border-box;
}
.comment-info {
    padding-bottom: 10px;
}
.statics li{display: block; list-style: none; width: 50%; height: 80px; float: left; text-align: center; font-size: 15px; color: #fff;}
.statics li:nth-child(1){background-color: #1abc9c;}
.statics li:nth-child(2){background-color: #2ecc71;}
.statics li:nth-child(3){background-color: #f1c40f;}
.statics li:nth-child(4){background-color: #e67e22;}
.statics .statics-count{font-size: 34px; font-family: 'RobotoBold'; margin-bottom: 0;}
.statics .statics-count .fa{font-size: 28px; opacity: 0.3;}
.statics li:hover .fa{opacity: 1;}
.group-info{
    background: #fff;
    min-height: 200px;
    margin-bottom: 30px;
}
.question {
    padding-left: 20px;
    margin-bottom: 20px;
    border-left: #ccc 10px solid;
}
.input-group-addon:hover {
    cursor: pointer;
}
.assig-name{
    margin-top: 10px;
}
.assignment-list .assignment {
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
}
.assignment-list .assignment:last-child {
    padding-bottom: 20px;
    border-bottom: none;
}
