@media (min-width: 992px) {
  .nav-users {
    position: fixed;
  }
}
.social-account-container {
  display: inline-block;
  position: relative;
}
.btn-remove-account {
  top: 10px;
  right: 10px;
  position: absolute;
}
.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: white;
  cursor: inherit;
  display: block;
}
.user-profile-picture {
  min-height: 150px;
  max-height: 150px;
}
.auth{
  padding: 50px 0 50px 0;
  color: rgba(255,255,255,0.6);
  background:  url('https://github.com/images/modules/site/heroes/simple-codelines.svg') ,#2b3137;
  background-position: center 10%;
  background-size: cover;
}
.box-auth{
  padding: 20px 0 20px 0;
  background: #fff;
  color: #282828;
}
.signup-text{
  padding: 30px 10px 30px 10px;
}
.signup-h1{
  margin-bottom: 16px !important;
  line-height: 1 !important;
}
.settings-view{
    background: #fff;
}