<section class="row" ng-controller="EditProfileController">
  <div class="col-xs-offset-1 col-xs-10 col-md-offset-4 col-md-4">
    <form name="userForm" ng-submit="updateUserProfile(userForm.$valid)" class="signin" novalidate autocomplete="off">
      <fieldset>
        <label>Tên *</label>
        <div class="form-row" style="padding-bottom: 35px;">
          <div class="col-sm-6 nopadding">
            <input type="text" id="lastName" name="lastName" class="form-control" ng-model="user.lastName" placeholder="Họ" required>
          </div>
          <div class="col-sm-6 nopadding">
            <input type="text" id="firstName" name="firstName" class="form-control" ng-model="user.firstName" placeholder="Tên" required>
          </div>
          <div ng-messages="userForm.lastName.$error || userForm.firstName.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Bạn không được để trống trường này.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="email">Email</label>
          <input type="email" id="email" name="email" class="form-control" ng-model="user.email" placeholder="Email" required>
          <div ng-messages="userForm.email.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Email là bắt buộc.</p>
            <p class="help-block error-text" ng-message="email">Email không hợp lệ.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="username">Tên đăng nhập</label>
          <input type="text" id="username" name="username" class="form-control" ng-model="user.username" placeholder="Tên đăng nhập" required>
          <div ng-messages="userForm.username.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Tên đăng nhập không được bỏ trống</p>
          </div>
        </div>
        <div class="text-center form-group">
          <button type="submit" class="btn btn-primary">Lưu thông tin</button>
        </div>
        <div ng-show="success" class="text-center text-success">
          <strong>Tài khoản đã được cập nhật</strong>
        </div>
        <div ng-show="error" class="text-center text-danger">
          <strong ng-bind="error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
