<section ng-controller="SettingsController" class="main">
    <div class="page-header">
        <div class="col-sm-1"></div>
        <h1>Cài đặt tài khoản</h1>
    </div>
    <div class="row">
        <div class="col-sm-1"></div>

        <div class="panel panel-default col-sm-2" style="padding: 0">
          <div class="panel-body"  style="padding: 0">
              <nav>
                  <ul class="nav nav-pills nav-stacked">
                      <li ui-sref-active="active">
                          <a ui-sref="settings.profile">Sửa tài khoản</a>
                      </li>
                      <li ui-sref-active="active">
                          <a ui-sref="settings.picture">Thay đổi ảnh</a>
                      </li>
                      <li ui-sref-active="active" ng-show="user.provider === 'local'">
                          <a ui-sref="settings.password">Thay đổi mật khẩu</a>
                      </li>
                      <li ui-sref-active="active">
                          <a ui-sref="settings.accounts">Quản lý mạng xã hội</a>
                      </li>
                  </ul>
              </nav>
          </div>
      </div>
        <div class="col-sm-1"></div>
      <div class="panel panel-default col-sm-7 settings-view">
          <div class="panel-body">
                  <div ui-view></div>
          </div>
      </div>
        <div class="col-sm-1"></div>
    </div>
</section>
